
<!DOCTYPE html>
<html lang="en">
  <head>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/index.js"></script>
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">It's Lit</h3>
      </div>

      <div class="jumbotron">
        <button id="on" class="btn btn-lg btn-primary btn-block" type="button">ON</button>
        <button id="off" class="btn btn-lg btn-primary btn-block" type="button">OFF</button>
      </form>
      </div>

      
    </div>
  </body>
</html>

